HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

###Machine Learning###
ML/Model/
ML/oldenv/
ML/demo_images/
ML/test_images/
# Ignore the large model file
ML/Flask Deployed App/plant_disease_model_1_latest.pt
# Ignore compiled Python files
ML/Flask Deployed App/__pycache__/
# Ignore CSV files (optional)
ML/Flask Deployed App/*.csv

###Project###
node_modules
package.json
package-lock.json
src/main/resources/secrets/oauth_keys.properties

